<app-navbar></app-navbar>

<div class="container-fluid mt-5 pt-4 m-0 p-0 bg" style="width: 100%;">
    <div style="background: rgba(0,0,0,0.5);" id="bannerup">
        <p class="text-white pt-3 pb-3 pl-5" style="background: rgba(0,0,0,0.5); opacity: 0.7;">Home / Health & Safety</p>
        <h2 id="heading" class="text-white" >Health & Safety</h2>
    </div>
</div>


<section id="health">
	<!-- <div class="container"> -->
<div class="row" id="row1">
	<!-- <div class="col-md-12 text-center">
	<h4 style="font-family: 'didot';">Gallery</h4></div> -->
        <div class="col-md-6">
            <div class="card flex-row  border-0" style="background: #F8F8F8;">
        <div class="card-header border-0 ">
            <img src="assets/img/lifeguards.png" alt=""  >
        </div>
        <div class="card-block px-5 pt-4" >
            <h5 class="card-title text-uppercase" style="font-family: Verdana;">Lifeguards</h5>
            <p  >Every attraction in the Waterpark is staffed by certified lifeguards, who ensure that guests can enjoy rides in a timely fashion while staying safe in the water.</p>
            <br>
        </div>
    </div>
        </div>
        <div class="col-md-6">
            <div class="card flex-row  border-0" style="background: #F8F8F8;">
        <div class="card-header border-0 ">
            <img src="assets/img/firstaid.png" alt="" >
        </div>
        <div class="card-block px-5 pt-4 " >
            <h5 class="card-title text-uppercase" style="font-family: Verdana;">First-Aid Kits</h5>
            <p  >All attractions in the Waterpark is equipped with fully functional and updated First-Aid kits, additionally a full kit is available at the Waterpark Store. </p>
            <br>
        </div>
    </div>
        </div>
        
        
   </div>

   <div class="row mt-5" id="row1">
        <div class="col-md-6 ">
            <div class="card flex-row  border-0" style="background: #F8F8F8;">
        <div class="card-header border-0 ">
            <img src="assets/img/maintainance.png" alt="" >
        </div>
        <div class="card-block px-5 pt-4 " >
            <h5 class="card-title text-uppercase" style="font-family: Verdana;">Maintenance</h5>
            <p  >Regular Checks and Full Maintenance is carried out every day at Diamond Waterpark to ensure you have a safe experience.  </p>
            <br>
        </div>
    </div>
        </div>
        <div class="col-md-6">
            <div class="card flex-row  border-0" style="background: #F8F8F8;">
        <div class="card-header border-0">
            <img src="assets/img/ambulance.png" alt="" >
        </div>
        <div class="card-block px-5 pt-4 " >
            <h5 class="card-title text-uppercase" style="font-family: Verdana;">Ambulance Services</h5>
            <p  >Immediate Ambulance facility is available on-call all day long at the Waterpark. We've had a zero incident day since we opened for almost 25 years.  </p>
            <br>
        </div>
    </div>
        </div>
        
        
   </div>

<!-- </div>   -->
</section>   

<app-footer></app-footer>
