<app-navbar></app-navbar>

<div class="container-fluid mt-5 pt-4 m-0 p-0 bg" style="width: 100%;">
    <div style="background: rgba(0,0,0,0.5);" id="bannerup">
        <p class="text-white pt-3 pb-3 pl-5" style="background: rgba(0,0,0,0.5); opacity: 0.7;">Home / Media</p>
        <h2 id="heading" class="text-white" >Media</h2>
    </div>
</div>


<!-- <section id="media1">
	<div class="container">
<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="assets/img/esteban.jpg" alt="Card image cap">
    
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/img/victoria.jpg" alt="Card image cap">
    
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/img/evara.jpg" alt="Card image cap">
   
  </div>
</div>
</div>
</section> -->

<section id="media1">
	<div class="container">
<div class="row" id="row1">
	<div class="col-md-12 text-center">
	<h4 style="font-family: 'didot';">Gallery</h4></div>
        <div class="col-md-4">
            <div class="card border-0" >
                <img class="card-img-top" src="assets/img/gallery1.jpg"  width="100%" alt="Card image">
                
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-0" >
                <img class="card-img-top" src="assets/img/gallery2.jpg"  width="100%" alt="Card image">
                
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-0" >
                <img class="card-img-top" src="assets/img/gallery3.jpg"  width="100%" alt="Card image">
               
            </div>
        </div>
        
   </div>

   <div class="row mt-5" id="row1">
        <div class="col-md-4">
            <div class="card border-0" >
                <img class="card-img-top" src="assets/img/gallery2.jpg"  width="100%" alt="Card image">
                
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-0" >
                <img class="card-img-top" src="assets/img/gallery4.jpg"  width="100%" alt="Card image">
                
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-0" >
                <img class="card-img-top" src="assets/img/gallery2.jpg"  width="100%" alt="Card image">
               
            </div>
        </div>
        
   </div>

   <div class="loadbut" style="text-align: center;" >
    <button class="btn btn-default" (click)="show = !show">LOAD MORE IMAGES</button>
  </div> 

  <div  *ngIf="!show" class="row mt-5" id="row1" >
    <div class="col-md-4">
        <div class="card border-0" >
            <img class="card-img-top" src="assets/img/gallery2.jpg"  width="100%" alt="Card image">
            
        </div>
    </div>
    <div class="col-md-4">
        <div class="card border-0" >
            <img class="card-img-top" src="assets/img/gallery4.jpg"  width="100%" alt="Card image">
            
        </div>
    </div>
    <div class="col-md-4">
        <div class="card border-0" >
            <img class="card-img-top" src="assets/img/gallery2.jpg"  width="100%" alt="Card image">
           
        </div>
    </div>
    
</div>

<!-- bitton for load more images -->
<!-- <div class="loadbut" style="text-align: center;" >
    <button class="btn btn-default" (click)="show = !show">LOAD MORE IMAGES</button>
  </div> -->
<!-- btn end -->
   <div class="row mt-5">
	<div class="col-md-12 text-center">
	<h4 style="font-family: 'didot';">Our Story</h4></div>
        <div class="col-md-4 mt-4">
            <div class="card border-0" style="background: #F8F8F8;">
                <img class="card-img-top" src="assets/img/victoria.jpg"  width="100%" alt="Card image">
            </div>
             <div class="card-block px-0 pt-2" >
         <div class="col-sm-2"  style="float: left;">   <img src="assets/img/logog.png" ></div>
           <div class="col-sm-10" style="float: right;"> <p class="card-text" style="font-family: Regular 20px/24px Verdana;">  Victoria Majestic Bunglows | Avalon Reality with Nyati Group - Pune</p></div>
        </div>
        </div>
        <div class="col-md-4 mt-4">
            <div class="card border-0" style="background: #F8F8F8;">
                <img class="card-img-top" src="assets/img/victoria.jpg"  width="100%" alt="Card image"> 
            </div>
            <div class="card-block px-0 pt-2" >
         <div class="col-sm-2"  style="float: left;">   <img src="assets/img/logog.png" ></div>
           <div class="col-sm-10" style="float: right;"> <p class="card-text" style="font-family: Regular 20px/24px Verdana;">  Victoria Majestic Bunglows | Avalon Reality with Nyati Group - Pune</p></div>
        </div>
        </div>
        <div class="col-md-4 mt-4">
            <div class="card border-0" style="background: #F8F8F8;">
                <img class="card-img-top" src="assets/img/victoria.jpg"  width="100%" alt="Card image">
               
            </div>
             <div class="card-block px-0 pt-2" >
         <div class="col-sm-2 "  style="float: left;">   <img src="assets/img/logog.png" ></div>
           <div class="col-sm-10" style="float: right;"> <p class="card-text" style="font-family: Regular 20px/24px Verdana;">  Victoria Majestic Bunglows | Avalon Reality with Nyati Group - Pune</p></div>
        </div>
        </div>
        
   </div>

</div>  
</section>      

<app-footer></app-footer>
