.bg{
   /*  background-image: url("/assets/img/blogs.png"); */
   background-image: url("~src/assets/img/Media.png");
    background-position: center;
    height: 50vh;
    background-repeat: no-repeat;
    background-size:cover;
}

#bannerup{
	height: 100%;
}
#heading{
	text-align: center;
	vertical-align: middle;
	line-height: 30vh;
	 font: Bold 35px/186px Didot LT Std;
}
@media (max-width: 1200px){
#heading{

 line-height: 15vh;
  margin-top: 1px;

}

.col-md-4{
    padding-top: 20px;
}


}

#media1 {

    display: block;
    padding-top: 60px;
    padding-bottom: 80px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

h4{
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}


.card-block img{
    height: 40px;
       
}
.card-block p{
   text-align: left;
   font-weight: 500;
   
}

#row1 .col-md-4 img{
    height: 370px;
    margin-bottom: 22px;
}

.loadbut button{
    border : 1px solid #000;
    margin-top: 30px;
    color: #000;
}
.loadbut button:hover{
    background: #000;
    color: #fff;
}