<app-navbar></app-navbar>

<!-- <div style="height:40px; width: 100%;"></div> -->
<div class="container-fluid mt-5 pt-4 m-0 p-0 bg">
    <div style="background: rgba(0,0,0,0.5);height: 100%;">
        <p class="text-white pt-3 pb-3 pl-5" style="background: rgba(0,0,0,0.5);">Home / Contact</p>
        <h2 class="text-white" style="text-align: center;vertical-align: middle;line-height: 30vh; font: Bold 35px/186px Didot LT Std;">Contact</h2>
    </div>
</div>

<section id="contact1">
<div class="container  ">
        <div class="col-12 text-center">
                <h4 style="font-family: 'didot';">Enquiry Form</h4>

                <form [formGroup]="contactform" id="contactForm"  method="POST" class="mt-5"  style="margin-bottom: 0px;" (submit)="onSubmit(contactform)">
                    <div class="row">
                       <div class="col-md-6 offset-3 col-sm-12 col-xs-12 text-center">
                          <div class=" form-group ">
                             <select class="form-control" name="reason" id="reason" required="">
                                <option value="" >Job Application</option>
                                <!-- <option value="Job Application">Job Application</option>
                                <option value="Business Purpose">Business Purpose</option>
                                <option value="Other Reason">Other Reason</option> -->
                             </select>
                             <br>
                          </div>
                       </div>
                    </div>
                    <div class="row">
                       <div class="col-md-6">
                          <div class="form-group" style="margin-bottom: 0px;">
                             <input type="text" class="form-control" placeholder="First Name" required="" name="firstName" id="firstName" formControlName="firstName"><br>
                             <input type="text" class="form-control mt-2" placeholder="Last Name" required="" name="lastName" id="lastNAme" formControlName="lastName"><br>
                             <input type="text" class="form-control" placeholder="Phone" name="phone" id="phone" required="" data-parsley-type="number" data-parsley-maxlength="12" data-parsley-minlength="10" formControlName="phone"><br>
                             <input type="email" class="form-control" placeholder="Email" required="" name="email" id="email" formControlName="email"><br><br>
                             <select class="form-control static-margin" name="profession-name" id="profession-name" required="" formControlName="profession_name">
                                <option value="" selected="" disabled=""> Profession</option>
                               
                             </select>
                             <br>
                             <input type="text" class="form-control" placeholder="Company / Organzation" name="company_name" id="company_name" required="" formControlName="company_name"><br>
                             <input type="text" class="form-control" placeholder="Designation" name="designation" id="designation" required="" formControlName="designation"><br>
                          </div>
                       </div>
                       <div class="col-md-6">
                          <div class="form-group" style="margin-bottom: 0px;" formGroupName="address">
                             <textarea class="form-control textarea-address " rows="4" placeholder="Address" name="address" id="address" ></textarea>
                             <br>
                             <select class="form-control" name="country" id="country" required="" formControlName="country">
                                <option value="">Select country</option>
                                
                             </select>
                             <br>
                             <select class="form-control" name="state" id="state" required="" formControlName="state">
                                <option value="">Select city</option>
                             </select>
                             <br><br>
                             <textarea class="form-control textarea-comment static-margin pb-0" rows="5" placeholder="Comments" name="comment" id="comment" formControlName="comment"></textarea>
                          </div>
                       </div>
                    </div>
                    <div class="row" style="margin-top: 50px;" id="buttons">
                       <div class="col-md-6 col-sm-6 col-xs-6 text-right" id="button1">
                          <button type="button" id="clearbtn" class="btn btn-default btn-clear pl-3 pr-3">CLEAR</button>
                       </div>
                       <div class="col-md-6 col-sm-6 col-xs-6 text-left" id="button2">
                          <button type="submit" class="btn btn-default btn-clear pl-3 pr-3">SUBMIT</button>
                       </div>
                    </div>
                 </form>
        </div>
</div>


 <div class="row mt-5" id="add1" style="margin-bottom: 5px;">
      
      <div class="col-md-6  text-center" id="office1" >
        <div  class="contact-box">
       <img src="assets/img/contact-icon01.png" alt="contact icon">
          <h2>Corporate Office</h2>
          <p class="contact-grey-text">+91 772 000 6622/33</p>
          <p class="contact-grey-text">Water Park Road, Pune City, Maharashtra, INDIA </p>
        </div>
      </div> 
      <div class="col-md-6  text-center" id="office2" >
        <div  class="contact-box">
       <img src="assets/img/project-management-icon.png" alt="contact icon">
          <h2>E-mail Us</h2>
          <p class="contact-grey-text">Business Enquiry: info@indulkar.com </p>
          <p class="contact-grey-text">Job Opportunities: careers@indulkar.com </p>
        </div>
      </div>

      
    </div><!-- row close -->
</section>

<app-footer></app-footer>
