<div class="container-fluid mt-5 pt-4 m-0 p-0 bg">
    <div class="background pt-5">
        <div class="col-9 pt-1 pl mt">
            <h2 class="text-uppercase pl-5 ml-5" >diamondparks</h2>
            <p class="text-white pl-5 ml-5">Fun-filled activities amidst wilderness and serenity make the Diamond Parks a perfect venue for Kids Camp this summer. Let your child be in the company of nature under our vigilant supervision as we follow international safety standards and are certified by *European Rope Course Association (ERCA). Are Safety Rangers, Safety Marshals, Women Instructors and Security Guards are there to help your child learn and enjoy the activities at the Commando Camp.</p>
            <button class="btn btn-info text-uppercase">visit us</button>
        </div>
    </div> 
</div>

<div class="container pt-5 h4font">
    <div class="col-12 text-center">
        <h3 style="color: #000;">Our Services</h3>
    </div>

    <div class="row pt-5">
        <div class="col-md-6 o small">
            <img src = "assets/img/diamond.jpg" style = "width:78%;">
        </div>
        <div class="col-md-6 " style="margin : auto;margin-left:-4%">
          
            <hr width="20%" style="margin-left: 0;border: 1px solid #F19F22;"> <h5 class="" >01</h5>
            <div style="background: #F8F8F8;padding:10px;padding-left:25px">
                <h3>Water Park</h3>
                <p class="our-p">NESTLED AMIDST THE QUIET, YET WELL-CONNECTED SUBURB OF NIBM PUNE, NYATI EVARA BLOOMS BEAUTIFULLY AS IT SPREADS FRAGRANCE ON EVERY LIFE THAT BLOSSOMS HERE. COMPRISING EXCLUSIVE 2 RHK APARTMENTS, THE PROJECT BEAUTIFULLY INTEGRATES ALL THE ASPECTS OF LUXURY LIVING AT AN AFFORDABLE PRICE. EVERY APARTMENT HAS BEEN DESIGNED TO BALANCE LUXURY AND ELEGANCE, VALUE AND COMFORT.</p>
            </div> 
        </div>
    </div>
    <div class="row pt-5">
        
        <div class="col-md-6 " style="margin : auto;margin-right:-4%">
          
            <h5  style="margin-left: 74%;">02</h5><hr width="20%" style="margin-right: 0;border: 1px solid #F19F22;margin-top:-24px"> 
            <div style="background: #F8F8F8;padding:10px;padding-left:25px;margin-top:30px">
                <h3>Adventure Park</h3>
                <p class="our-p">NESTLED AMIDST THE QUIET, YET WELL-CONNECTED SUBURB OF NIBM PUNE, NYATI EVARA BLOOMS BEAUTIFULLY AS IT SPREADS FRAGRANCE ON EVERY LIFE THAT BLOSSOMS HERE. COMPRISING EXCLUSIVE 2 RHK APARTMENTS, THE PROJECT BEAUTIFULLY INTEGRATES ALL THE ASPECTS OF LUXURY LIVING AT AN AFFORDABLE PRICE. EVERY APARTMENT HAS BEEN DESIGNED TO BALANCE LUXURY AND ELEGANCE, VALUE AND COMFORT.</p>
            </div> 
        </div>
        <div class="col-md-6 small">
            <img src = "assets/img/slider-de1.jpg" style = "width:79%;">
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-md-6 small">
            <img src = "assets/img/image-ee8.jpg" style = "width:78%;">
        </div>
        <div class="col-md-6 " style="margin : auto;margin-left:-4%">
          
            <hr width="20%" style="margin-left: 0;border: 1px solid #F19F22;"> <h5 class="">03</h5>
            <div style="background: #F8F8F8;padding:10px;padding-left:25px">
                <h3>Camp</h3>
                <p class="our-p">NESTLED AMIDST THE QUIET, YET WELL-CONNECTED SUBURB OF NIBM PUNE, NYATI EVARA BLOOMS BEAUTIFULLY AS IT SPREADS FRAGRANCE ON EVERY LIFE THAT BLOSSOMS HERE. COMPRISING EXCLUSIVE 2 RHK APARTMENTS, THE PROJECT BEAUTIFULLY INTEGRATES ALL THE ASPECTS OF LUXURY LIVING AT AN AFFORDABLE PRICE. EVERY APARTMENT HAS BEEN DESIGNED TO BALANCE LUXURY AND ELEGANCE, VALUE AND COMFORT.</p>
            </div> 
        </div>
    </div>
    <div class="row pt-5">
        
        <div class="col-md-6 " style="margin : auto;margin-right:-4%">
          
            <h5  style="margin-left: 74%;">04</h5><hr width="20%" style="margin-right: 0;border: 1px solid #F19F22;margin-top:-24px"> 
            <div style="background: #F8F8F8;padding:10px;padding-left:25px;margin-top:30px">
                <h3>Event</h3>
                <p class="our-p">NESTLED AMIDST THE QUIET, YET WELL-CONNECTED SUBURB OF NIBM PUNE, NYATI EVARA BLOOMS BEAUTIFULLY AS IT SPREADS FRAGRANCE ON EVERY LIFE THAT BLOSSOMS HERE. COMPRISING EXCLUSIVE 2 RHK APARTMENTS, THE PROJECT BEAUTIFULLY INTEGRATES ALL THE ASPECTS OF LUXURY LIVING AT AN AFFORDABLE PRICE. EVERY APARTMENT HAS BEEN DESIGNED TO BALANCE LUXURY AND ELEGANCE, VALUE AND COMFORT.</p>
            </div> 
        </div>
        <div class="col-md-6 small">
            <img src = "assets/img/slider-de1.jpg" style = "width:79%;">
        </div>
    </div>

    <div class="col-12 text-center mt-5">
        <button  class="btn btn-default text-uppercase text-dark border border-dark mb-4 pl-5 pr-5" style="border : 2px solid #000!important;font-weight: 700px;">Visit Us</button>
    </div>
</div>

<div class="container-fluid m-0 p-0 bg1">
    <div class="row" style="background: rgba(0,0,0,0.8);height:70vh;">
            <div class="col-md-6 text-right" style="margin:auto;" >
                <img src="assets/img/diamond.jpg" class=" pr-5 p" height = "350px">
            </div>
            <div class="col-md-6" style="margin:auto">
                <h2 class="text-white text-uppercase mb-0" style="font-family: Bold 50px/60px Verdana;">Exciting <br> Offers</h2>

                <div class="row">
                     <div class="col-2">
                        <hr  style="margin-left: 0;border: 1px solid #fff;margin-top: 40px;"> 
                     </div>   
                     <div class="col">
                        <button  class="btn btn-info mt-4 text-uppercase text-white border border-white mb-4 pl-5 pr-5" >Visit Us</button>
                     </div>
                </div>
            </div>
    </div>
</div>