.bg{
   /*  background-image: url("/assets/img/esteban.jpg"); */
   background-image: url("~src/assets/img/Our Road Map.png");
    background-position: center;
    height: 50vh;
    background-repeat: no-repeat;
    background-size:cover;
}

#bannerup{
	height: 100%;
}
#heading{
	text-align: center;
	vertical-align: middle;
	line-height: 30vh;
	 font: Bold 35px/186px Didot LT Std;
}
@media (max-width: 1200px){
#heading{

 line-height: 15vh;
  margin-top: 1px;

}
}


/*#road{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    height: 200%;
}

#road div{
    display: block;
}

.chronicle-section {
    

    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}
section{
    display: block;
}

@media (min-width: 1200px){
#road .container {
    width: 1170px;
}
}

#road .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

@media (min-width: 992px){
.col-md-12 {
    width: 100%;
    float: left;
}
}

.col-md-12{
    
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.didot-font {
    font-family: 'didot', serif;
}
.text-center {
    text-align: center!important;
}

#head1{
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: block;
}

.timeline {
    
    padding: 20px 0 20px;
    position: relative;
}

ul {
    margin-top: 0;
    margin-bottom: 10px;
    display: block;
    
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.timeline > li {
    margin-bottom: 50px;
    position: relative;
    width: 50%;
    float: left;
    clear: left;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;

}

.timeline > li > .timeline-badge {
    color: #fff;
    width: 24px;
    height: 24px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    right: -12px;
    z-index: 2;
}
.timeline-badge > a {
    color: #C5C7C5 !important;
}

a {
    background-color: transparent;
    text-decoration: none;
}
img {
    vertical-align: middle;
    border: 0;
}

.timeline > li > .timeline-panel {
    width: 90%;
    float: left;
    position: relative;
    
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

 .img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}

.timeline-panel .timeline-body {
    background-color: #f8f8f8;
    color: #6c6c6c;
}
.timeline-panel .timeline-body h2 {
    padding: 20px 20px 0px 20px;
    color: #000;
    margin: 0;
    font-family: 'didot', serif;
}

.timeline-body h2 {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.1;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: block;
}

#font1{
    
    font-size: 14px;
    display: inline-block;

}



.timeline-body ul {
    display: block;
    list-style: none;
    padding: 20px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.timeline-body > ul {
    
    margin-bottom: 0;
}

ul ul {
    
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.timeline-panel li {
    list-style: none;
    counter-increment: foo;
    display: table;
    text-align: justify;
    font-size: 14px!important;
}

.timeline > li:nth-child(2) {
    margin-top: 60px;
}
.timeline > li.timeline-inverted {
    float: right;
    clear: right;
    
    margin-bottom: 30px;
}

.timeline > li {
   
    position: relative;
    width: 50%;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.timeline > li.timeline-inverted > .timeline-badge {
    left: -12px;
}
.timeline > li > .timeline-badge {
    color: #fff;
    width: 24px;
    height: 24px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    right: -12px;
    z-index: 2;
}
.timeline-badge > a {
    color: #C5C7C5 !important;
}
.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}
.timeline > li > .timeline-panel {
    width: 90%;
    position: relative;
    
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li {
    margin-bottom: 50px;
    position: relative;
    width: 50%;
    
    clear: left;
}
*/


#road{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
   
}


  .chronicle-section {
        padding-top: 50px;
        padding-bottom: 50px;
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    }
    .timeline {
        list-style: none;
        padding: 20px 0 20px;
        position: relative;
    }
    .timeline li:nth-child(even) .timeline-icon:after {
        content: " ";
        border-top: 2px solid #c7c7c7;
        position: absolute;
        top: 9px;
        width: 40px;
    }
    .timeline li:nth-child(odd) .timeline-icon:before {
        content: " ";
        border-top: 2px solid #c7c7c7;
        position: absolute;
        top: 9px;
        left: -37px;
        width: 40px;
    }
    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 2px;
        background-color: #c7c7c7;
        left: 50%;
        margin-left: -1.5px;
    }
    .timeline > li {
        margin-bottom: 50px;
        position: relative;
        width: 50%;
        float: left;
        clear: left;
    }
    .timeline > li:before,
    .timeline > li:after {

        content: " ";
        display: table;
    }
    .timeline > li:after {
        clear: both;
    }
    .timeline > li:before,
    .timeline > li:after {
        content: " ";
        display: table;
    }
    .timeline > li:after {
        clear: both;
    }
    .timeline > li > .timeline-panel {
        width: 90%;
        float: left;
        position: relative;
        -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    }
    .timeline > li > .timeline-badge {
        color: #fff;
        width: 24px;
        height: 24px;
        line-height: 50px;
        font-size: 1.4em;
        text-align: center;
        position: absolute;
        top: 16px;
        right: -12px;
        z-index: 2;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
        float: right;
    }
    .timeline > li.timeline-inverted > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }
    .timeline > li.timeline-inverted > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
    .timeline-badge > a {
        color: #C5C7C5 !important;
    }
    .timeline-badge a:hover {
        color: #000 !important;
    }
    .timeline-title {
        margin-top: 0;
        color: inherit;
    }
    .timeline-panel .timeline-body {
        background-color: #f8f8f8;
        color: #6c6c6c;
    }
    .timeline-panel .timeline-body h2 {
        padding: 20px 20px 0px 20px;
        color: #000;
        margin: 0;
        font-family: 'didot', serif;
    }
    .timeline-body > p,
    .timeline-body > ul {
        padding: 20px;
        margin-bottom: 0;


    }
    .timeline-body > p + p {
        margin-top: 5px;
    }
    .timeline-footer {
        padding: 20px;
        background-color: #f4f4f4;
    }
    .timeline-footer > a {
        cursor: pointer;
        text-decoration: none;
    }
    .timeline > li.timeline-inverted {
        float: right;
        clear: right;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .timeline > li:nth-child(2) {
        margin-top: 60px;
    }
    .timeline > li.timeline-inverted > .timeline-badge {
        left: -12px;
    }
    .timeline-badge .glyphicon-color {
        color: #f68736;
        background-color: #fff;
    }
    @media (max-width:767px) {
        ul.timeline:before {
            left: 40px;

        }
        
        .map-slider #quote-carousel .carousel-control.left{
            top: 386px !important;
        }
        .map-slider #quote-carousel .carousel-control.right{
            top: 425px !important;
            left: 305px!important;
        }
        ul.timeline > li {
            margin-bottom: 20px;
            position: relative;
            width: 100%;
            float: left;
            clear: left;
        }
        ul.timeline > li > .timeline-panel {
            width: calc(100% - 90px);
            width: -moz-calc(100% - 90px);
            width: -webkit-calc(100% - 90px);
        }
        ul.timeline > li > .timeline-badge {
            left: 28px;
            margin-left: 0;
            top: 16px;
        }
        ul.timeline > li > .timeline-panel {
            float: right;
        }
        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }
        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
        .timeline > li.timeline-inverted {
            float: left;
            clear: left;
            margin-top: 30px;
            margin-bottom: 30px;
        }
        .timeline > li.timeline-inverted > .timeline-badge {
            left: 28px;
        }
    }

.img-responsive{
    display: block;
    max-width: 100%;
    height: 333px;
}

/*.timeline li li::before {
    content: "• ";
    color: #f6a468;
    padding-right: 20px;
    font-size: 22px;
    display: table-cell;
    top: 3px;
    position: relative;
}
*/

 .timeline-panel ol {
        counter-reset: foo;
        display: table;
    }

    .timeline-panel li {
        list-style: none;
        counter-increment: foo;
        display: table;
        text-align: justify;
    }

     .timeline li li::before {
      content: "• ";
      color: #f6a468;  
      padding-right: 20px;
      font-size: 22px;
      display: table-cell;
      top: 3px;
      position: relative;

    }

