<app-navbar></app-navbar>

<div class="container-fluid mt-5 pt-4 m-0 p-0 bg" style="width: 100%;">
    <div style="background: rgba(0,0,0,0.2);height: 100%;">
        <p class="text-white pt-3 pb-3 pl-5" style="background: rgba(0,0,0,0.5); opacity: 0.7;">Alliances / Partners</p>
        <h2 class="text-white" style="text-align: center;vertical-align: middle;line-height: 30vh; font: Bold 35px/186px Didot LT Std;">Partners</h2>
    </div>
</div>

<!-- <div class="container-fluid inner-5x innerTB" id="partner1">
<div class="container">
  <div class="row inner-5x innerB">
<div class="logo-content innerAll-more"><img alt="" src="assets/img/nyati_logo.png"></div>
<div class="desc-content innerAll-40 brand">
<span class="title">NYATI GROUP</span><br/><br/>
<p  >AT NYATI GROUP, CUSTOMER IS THE CENTRAL FOCUS OF ALL OUR VENTURES. WE PUT AN EARNEST EFFORT IN UNDERSTANDING THE ASPIRATIONS OF OUR BUYERS WITH THE OBJECTIVE OF MEETING ALL THEIR EXPECTATIONS. WE BELIEVE THERE IS NO JOY GREATER THAN DELIVERING CUSTOMER HAPPINESS AND SATISFACTION.</p><br/><a href="" target = "blank" >view detail</a>
</div>
    </div>
<div class="row inner-5x innerB">
<div class="logo-content innerAll-more"><img alt="Blackstone" src="assets/img/nyati_logo.png"></div>
<div class="desc-content innerAll-40 brand">
<span class="title">NYATI GROUP</span><br/><br/>
<p>AT NYATI GROUP, CUSTOMER IS THE CENTRAL FOCUS OF ALL OUR VENTURES. WE PUT AN EARNEST EFFORT IN UNDERSTANDING THE ASPIRATIONS OF OUR BUYERS WITH THE OBJECTIVE OF MEETING ALL THEIR EXPECTATIONS. WE BELIEVE THERE IS NO JOY GREATER THAN DELIVERING CUSTOMER HAPPINESS AND SATISFACTION.</p><br/><a href="" target = "blank" >view detail</a>
</div>
    </div>
 </div>
 </div>   
 -->
 <section id="part">

 <div class="container">
    <div class="card flex-row  border-0" style="background: #F8F8F8;">
        <div class="card-header border-0 p-5">
            <img src="assets/img/nyati_logo.png" alt="" class="m-5" >
        </div>
        <div class="card-block px-5 pt-4 pr-4 mr-5" >
            <h4 class="card-title text-uppercase" style="font-family: Verdana;">Nyati group</h4>
            <p  >AT NYATI GROUP, CUSTOMER IS THE CENTRAL FOCUS OF ALL OUR VENTURES. WE PUT AN EARNEST EFFORT IN UNDERSTANDING THE ASPIRATIONS OF OUR BUYERS WITH THE OBJECTIVE OF MEETING ALL THEIR EXPECTATIONS. WE BELIEVE THERE IS NO JOY GREATER THAN DELIVERING CUSTOMER HAPPINESS AND SATISFACTION.  </p>
            <br><a href="" target = "blank" >view detail</a>
        </div>
    </div>


</div>

<!-- <div class="container mt-5">
    <div class="card flex-row  border-0" style="background: #F8F8F8;">
        <div class="card-header border-0 p-5">
            <img src="assets/img/nyati_logo.png" alt="" class="m-5" >
        </div>
        <div class="card-block px-5 pt-4 pr-4 mr-5" >
            <h4 class="card-title text-uppercase" style="font-family: Verdana;">Nyati group</h4>
            <p  >AT NYATI GROUP, CUSTOMER IS THE CENTRAL FOCUS OF ALL OUR VENTURES. WE PUT AN EARNEST EFFORT IN UNDERSTANDING THE ASPIRATIONS OF OUR BUYERS WITH THE OBJECTIVE OF MEETING ALL THEIR EXPECTATIONS. WE BELIEVE THERE IS NO JOY GREATER THAN DELIVERING CUSTOMER HAPPINESS AND SATISFACTION.  </p>
            <br/><a href="" target = "blank" >view detail</a>
        </div>
    </div>
    
</div> -->
<!-- </section> -->
</section>

<app-footer></app-footer>
