<app-navbar></app-navbar>

<!-- <div style="height:40px;"></div> -->
<div class="container-fluid mt-5 pt-4 m-0 p-0 bg">
    <div style="background: rgba(0,0,0,0.2);height: 100%;">
        <p class="text-white pt-3 pb-3 pl-5" style="background: rgba(0,0,0,0.5); opacity: 0.7;">Home / About Us / Leadership</p>
        <h2 class="text-white" style="text-align: center;vertical-align: middle;line-height: 30vh; font: Bold 35px/186px Didot LT Std;">Leadership</h2>
    </div>
</div>

<section id="leader">
<div class="container">
    <div class="card flex-row flex-wrap border-0" style="background: #F8F8F8;" id="md">
        <div class="card-header border-0 bg-white p-0">
            <img src="assets/img/arjun.png" alt="" height = "250px" width = "255px">
        </div>
        <div class="card-block px-5 pt-3" >
            <h4 class="card-title" style="font-family: Bold  Didot LT Std;">Arjun Indulkar</h4>
            <p class="card-text" style="font-family: Regular 20px/24px Verdana;">Founder</p>
            <small style="color: #707070;">Mr. Arjun Indulkar, the MD of Indulkar Group of Companies. <br> Lorem ipsum person message showed here.</small>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-3">
            <div class="card border-0" style="background: #F8F8F8;">
                <img class="card-img-top" src="assets/img/arjun.png"  width="100%" alt="Card image">
                <div class="card-body">
                  <h5 class="card-title">Raveena Indulkar</h5>
                  <small class="card-text">Designation</small>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-0" style="background: #F8F8F8;">
                <img class="card-img-top" src="assets/img/arjun.png"  width="100%" alt="Card image">
                <div class="card-body">
                  <h5 class="card-title">Hitesh Patwa</h5>
                  <small class="card-text">Designation</small>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-0" style="background: #F8F8F8;">
                <img class="card-img-top" src="assets/img/arjun.png"  width="100%" alt="Card image">
                <div class="card-body">
                  <h5 class="card-title">Anil Indulkar</h5>
                  <small class="card-text">Designation</small>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-0" style="background: #F8F8F8;">
                <img class="card-img-top" src="assets/img/arjun.png"  width="100%" alt="Card image">
                <div class="card-body">
                  <h5 class="card-title">Gouri Indulkar</h5>
                  <small class="card-text">Designation</small>
                </div>
            </div>
        </div>
        
    </div>
</div>
</section>

<app-footer></app-footer>
