.bg{
    background-image: url("~src/assets/img/Leadership.png");
    background-position: center;
    height: 50vh;
    background-repeat: no-repeat;
    background-size:cover;
}

small{
    font-family:  Verdana!important;
}
.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}
img {
  cursor: pointer;
  width: 100%;
    height:auto;
}
p {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.col-md-3 {
  cursor: pointer;
}

.card-title{
    font-family: Bold  Didot LT Std;
    font-size: 20px;
    
}
#maincontent {
  
  padding-top: 10px!important;
}
/* .members {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}
 */
@media(max-width:768px){
	#md img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
	}
	}

#leader{
 padding-top: 40px;
/*  padding-top: 10px; */
  padding-bottom:40px!important;
   box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}
/* added new css here  */
div .paracontent p {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}
h5 {
  text-align: left;
  margin-bottom: 0px;
/* font: normal normal bold 32px/41px Didot LT Std; */
font: normal bold 25px Didot LT Std;
}
small {
  color: #707070;
  font-family: Verdana;

  
  font: normal bold  Didot LT Std 13px !important;
  
}
p {
  padding-top: 15px;
  letter-spacing: 0px;
  margin-top: 0px!important;
  padding-left: 3px;
  color: #707070;
  font:normal;
  justify-content: center;
}
.card-body {
 
}

