<app-navbar></app-navbar>

<div class="container-fluid mt-5 pt-4 m-0 p-0 bg" style="width: 100%;">
    <div style="background: rgba(0,0,0,0.5);" id="bannerup">
        <p class="text-white pt-3 pb-3 pl-5" style="background: rgba(0,0,0,0.5); opacity: 0.7;">Home / Blog</p>
        <h2 id="heading" class="text-white">Blogs</h2>
    </div>
</div>

<div class="container-fluid inner-5x innerTB" id="blogc">
    <div class="container">
        <div *ngFor="let blog of blogsList" class="row inner-5x innerB">
            <div class="logo-content innerAll-more">
                <div [style.background]="'url(' + getImageUrl(blog.featured_image) + ')'"
                    style="background-size: contain;background-repeat: no-repeat;background-position: center center;height: 200px;min-width: 250px;">
                </div>
            </div>
            <div class="desc-content innerAll-40">
                <span class="title">
                    {{blog.title}}
                </span>
                <br /><br />
                <p>{{blog.created_at | date:'dd MMM'}}</p>
                <br /><a [routerLink]="['/blogdetail',blog.id]" class="hvr-bounce-to-right">View Details</a>
            </div>
        </div>

    </div>
</div>


<!-- <section id="blogc">

 <div class="container">
    <div class="card flex-row  border-0" style="background: #F8F8F8;">
        <div class="card-header border-0 p-5">
            <img src="assets/img/esteban.jpg" alt="" class="m-5" >
        </div>
        <div class="card-block px-5 pt-4 pr-4 mr-5" >
            <h4 class="card-title text-uppercase" style="font-family: Verdana;">Why Real Estate Properties Will Always Be A Good Investment</h4>
            <p  >24 January</p>
            <br><a href="" target = "blank" >view detail</a>
        </div>
    </div>


</div>

<div class="container mt-5">
    <div class="card flex-row  border-0" style="background: #F8F8F8;">
        <div class="card-header border-0 p-5">
            <img src="assets/img/victoria.jpg" alt="" class="m-5" >
        </div>
        <div class="card-block px-5 pt-4 pr-4 mr-5" >
            <h4 class="card-title text-uppercase" style="font-family: Verdana;">Things to Keep in Mind When Investing in a Luxury Apartment</h4>
            <p  >20 January</p>
            <br/><a href="" target = "blank" >view detail</a>
        </div>
    </div>

    
</div>

<div class="container mt-5">
    <div class="card flex-row  border-0" style="background: #F8F8F8;">
        <div class="card-header border-0 p-5">
            <img src="assets/img/img-evara.jpg" alt="" class="m-5" >
        </div>
        <div class="card-block px-5 pt-4 pr-4 mr-5" >
            <h4 class="card-title text-uppercase" style="font-family: Verdana;">How the Internet of Things is poised to Elevate and Transform Any Home into a Luxury Apartment</h4>
            <p  >20 January</p>
            <br/><a href="" target = "blank" >view detail</a>
        </div>
    </div>

    
</div>

</section> -->


<app-footer></app-footer>